@model EventOrganizer.Models.Register

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; 
}

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="card-body text-center">
    <h4 class="mb-3 text-white">EVENT ORGANIZER</h4>
    <h6 class="mb-3 text-white"> Reset Password</h6>
            

            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, null))
            {
        <div class="form-group mb-3">
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Enter your email", @type = "email", @required = "required" })
                    @Html.ValidationMessageFor(a => a.Email, null, new { @class = "text-danger" })
                </div>

        <button type="submit" class="btn gradient-btn w-100">Send Reset Link</button>

                <div class="text-center mt-2">
                    <a href="@Url.Action("Index", "Login")" class="text-white">Back to Login</a>
                </div>

                <!-- Error and Success Messages -->
                @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewBag.ErrorMsg)))
                {
                    <div class="row mt-3">
                        <div class="col-12 bg-danger text-white text-center p-2">
                            @ViewBag.ErrorMsg
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMsg))
                {
                    <div class="row mt-3">
                        <div class="col-12 bg-success text-white text-center p-2">
                            @ViewBag.SuccessMsg
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
}
