@model List<EventOrganizer.Models.Register>

@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header bg-info text-dark text-center">

        <h4>User List</h4>
    </div>
    <div class="card-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Address</td>
                        
                        <td>@item.Email</td>
                        <td>@item.Status</td>
                        <td>
                            @if (item.Status == "Active")
                            {
                                <a href="@Url.Action("ChangeStatus", "Admin", new { id = item.UserId, status = "Inactive" })" class="btn btn-danger">Deactivate</a>
                                <a href="@Url.Action("ChangeStatus", "Admin", new { id = item.UserId, status = "Blocked" })" class="btn btn-warning">Block</a>
                            }
                            else if (item.Status == "Inactive")
                            {
                                <a href="@Url.Action("ChangeStatus", "Admin", new { id = item.UserId, status = "Active" })" class="btn btn-success">Activate</a>
                            }
                            else if (item.Status == "Blocked")
                            {
                                <a href="@Url.Action("ChangeStatus", "Admin", new { id = item.UserId, status = "Active" })" class="btn btn-success">Activate</a>
                            }
                            else
                            {
                                <button class="btn btn-secondary" disabled>No Action</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
